
@font-face{						/* ПОДКЛЮЧЕННЫЕ ШРИФТЫ */
	font-family: MyriadPro;
	src: url(fonts/Myriad-Pro.ttf);
}
@font-face{						/* ПОДКЛЮЧЕННЫЕ ШРИФТЫ */
	font-family: MyriadPro Condensed;
	src: url(fonts/Myriad-Pro-Condensed.ttf);
}

body{
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	font-size: 13px;

	
}
.row{
	display: flex;
	box-sizing: border-box;
	width: 935px;
	margin: auto;
}


.header{					/* ШАПКА */
	display: flex;
	box-sizing: border-box;
	height: 482px;
	background-image: url(bgs/headerBg.png);
	flex-direction: column;
	align-items: flex-end;
}
.header .contact_phone{					/* КОНТАКТНЫЙ ТЕЛЕФОН */
	font-family: MyriadPro Condensed;
	color: #ffffff;
	width: 235px;
	margin-top: 185px;
}
.header .contact_phone #text{
	font-size: 18px;
	margin: 0;
	
}
.header .contact_phone #phone{
	font-size: 48px;
	margin:0;
	box-sizing: border-box;
	display: flex;
	
}
.header .contact_phone #phone span{
	font-size: 26px;
	display: inline-block;
	margin-top: 5px;
}

.header .menu{			/* МЕНЮ ШАПКИ */
	
	margin:184px 105px 0 0;
}
.header .menu  ul{			
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}
.header .menu ul li{			
	background-color: #0099cc;
}
.header .menu ul li:hover{
	background-color: #00bbcc;
}
.header .menu ul li a{			
	font-family: MyriadPro Condensed;
	font-size: 19px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: 5px 45px;
	font-weight: lighter;
}
.header .menu ul li #main{
	padding: 5px 30px 5px 55px;
	border-right: 20px solid #66cccc;
	

}

.first{
	display: flex;
	margin: 60px 0 60px 132px;
	color: #666666;


}
.first .kind_of_work{
	display: flex;
}
.first  #project{
	margin: 0 80px 0 10px;
}
.first  #develop{
	margin: 0 60px 0 0;
}

.first .kind_of_work .description{		/* ТЕКСТ */
	display: flex;
	flex-direction: column;
	margin-left: 5px;
}

.first .kind_of_work .description .heading{
	margin: 0;
	font-size: 17px;
	font-family:  MyriadPro Condensed;
	text-transform: uppercase;
	

}
.first .kind_of_work .description .sub_heading{
	margin: 0;
	font-family: Tahoma;
	font-size: 11px;
}
.first .kind_of_work .description a{
	margin-top: 20px;
	font-family: Tahoma;
	text-transform: uppercase;
}

				
	
.second #second_row_h{				/* НОВОСТИ, О КОМПАНИИ */
	font-family: MyriadPro Condensed;
	font-size: 23px;
	font-weight: lighter;
	text-transform: uppercase;
	color: #0099cc;
	line-height: 0;

	
}
.second .news{
	width: 280px;
	margin-left: 10px;
}

.second .news ul{
	list-style-type: none;
	padding: 20px 0 7px 0;
	
}
.second .news ul li{
	margin: 0 0 7px 0;
}
.second .news ul li span{
	font-family: MyriadPro;
	color: #666666;
	text-decoration: underline;
	text-decoration-color: #999999;
	text-decoration-style:;
}
.second .news ul li a{
	color: #0099cc;
}
.second .news ul li .vert_line{
	color: #000000;
	font-weight: bold;
	text-decoration: none;

}
.second .news .all_news{
	font-family: MyriadPro;
	color: #666666;
	text-decoration: none;
	border-bottom: 1px solid #666666;
	

	
}
.second .about_company{
	
	margin-left: 50px;
}
.second .about_company .text_content{
	width: 590px;
	font-family: MyriadPro;
	color: #666666;
	line-height: 28px;
	padding:  15px 0 15px 0;
	border-top: 2px dashed #999999;
	border-bottom: 2px dashed #999999;
}

.third{
	margin-bottom: 40px;
}
			
.third .online_order{		/* ОНЛАЙН ЗАКАЗ, ПРЕДЛАГАЕМЫЕ УСЛУГИ */
	width: 265px;
	margin-left: 10px;
}
.third .online_order h1{
	font-family: MyriadPro Condensed;
	font-size: 23px;
	text-transform: uppercase;
	color: #336666;
	font-weight: lighter;
}
.third .online_order .description{
	font-family: MyriadPro;
	color: #3399cc;
}
.third .online_order .button{		/* ЗАКАЗ ОНЛАЙН КНОПКА*/
	width: 235px;
	height: 40px;
	box-sizing: border-box;
	background-color: #0099cc;
	color: #ffffff;
	display: flex;
	font-family: MyriadPro;
	align-items: center;
	border-radius: 10px;
}	

.third .online_order .button #arrow{
	width: 55px;
	box-sizing: border-box;
	padding: 7px 0 0 25px;
}

.third .online_order .button #text{
	border-left: 1px solid #006699;
	padding-left: 15px;
	
}

.third .online_order .button #text p:first-child{
	font-size: 20px;
	margin: 2px 0 0 0;
	line-height: 15px;
	
}
.third .online_order .button #text p:last-child{
	margin: 0;
	font-size: 12px;
}


.third .list_of_works{			/* ПРЕДЛАГАЕМЫЕ УСЛУГИ */
	margin-left: 60px;
	border-bottom: 2px dashed #666666;
}
.third .list_of_works h1{
	font-family: MyriadPro Condensed;
	font-size: 19px;
	color: #0099cc;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 5px;
	margin-bottom: 10px;
	font-weight: lighter;
}
.third .list_of_works ul{
	display: inline-block;
	list-style-type: none;
	padding: 0;
}
.third .list_of_works #first{
	padding-right: 45px;
}

.third .list_of_works ul li{
	line-height: 22px;

}
.third .list_of_works ul li a{
	font-family: MyriadPro;
	color: #0099cc;
	font-size: 13px;
}


.fourth {			/*	СЛАЙДЕР - НАШИ ПРОЭКТЫ */
	display: block;
	padding-left: 15px;
	position: relative;
}
.fourth h1{
	font-family: MyriadPro Condensed;
	font-size: 23px;
	text-transform: uppercase;
	color: #3399cc;
	font-weight: lighter;
	margin-bottom: 30px;
}
.fourth .slider{
	display: flex;
	width: 822px;
	height: 147px;
	overflow: hidden;
	position: relative;
	margin: 0px 38px;
	
}

.fourth  .left_arrow{
	
	width: 12px;
	height: 12px;
	background-image: url("bgs/left-arrow.png");
	background-size: cover;
	color: red;
	position: absolute;
	left: 20px;
	top: 90px;
}
.fourth  .right_arrow{
	width: 12px;
	height: 12px;
	background-image: url("bgs/right-arrow.png");
	background-size: cover;
	position: absolute;
	left: 905px;
	top: 90px;
}

.fourth .slider .slider_item{
	padding: 0 29px;
	position: relative;
}

.fourth .slider .slider_item #kind_of_building{
	margin: 5px 0;
}
.fourth .slider .slider_item #kind_of_building a{
	font-family: MyriadPro;
	font-size: 15px;
	text-transform: uppercase;
	color: #0099cc;

}

.fourth .slider .slider_item #city{
	font-family: MyriadPro;
	font-style: italic;
	color: #999999;
	margin:  0;
}
.fourth .slider .slider_item #price{
	font-family: MyriadPro;
	color: #999999;
	margin:  0;
}
.fourth .slider .slider_item #price span{
	font-family: MyriadPro;
	color: #000000;
	font-weight: bold;
}	
.fourth .text_content{

	font-family: MyriadPro;
	color: #666666;
	line-height: 28px;
	padding:  30px 0 30px 30px;
	border-bottom: 2px dashed #999999;
	
	
}


.footer{				/* ПОДВАЛ */
	flex-direction: column;   

}
.footer .footer_menu{			/* МЕНЮ */
	margin-left: 15px;
	margin-bottom: 50px;
}
.footer .footer_menu ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.footer .footer_menu ul li{
	display: inline-block;
	margin-right: 40px;
}

.footer .footer_menu ul li a{
 	font-family: MyriadPro;
 	font-size: 12px;
 	text-decoration: none;
 	text-transform: uppercase;
 	color: #0099cc;
}

.footer .contacts{
 	width: 100%;
}
.footer .contacts .adress{
 	width: 220px;
 	margin-left: 15px;
 	display:inline-block;
 	float: left;
}
.footer .contacts .adress .info{
	font-family: Tahoma;
	font-size: 12px;
	color: #999999;
	line-height: 5px;
}
.footer .contacts .adress a{
	font-family: Tahoma;
	font-size: 12px;
	color: #0099cc;
	display: block;
	margin-top: 25px;
}
.footer .contacts .working_time{
	font-family: Tahoma;
	font-size: 12px;
	color: #999999;
	line-height: 5px;
	display: inline-block;
	width: 210px;
	margin-left: 105px;
}

.footer .contacts .working_time .info{
	margin-bottom: 40px;
}
.footer .contacts .working_time .phone_number{
	font-family: MyriadPro Condensed;
	font-size: 23px;
	font-weight: lighter;
	color: #0099cc;
}

.footer .link{
	font-family: Tahoma;
	font-size: 12px;
	color: #999999;
	line-height: 5px;
	width: 190px;
	display: inline-block;
	float: right;
}
.footer .link a{
	display:block;
	color: #999999;
	margin-top: 12px;

}
.footer .link .info{
	font-weight: bold;
	margin-bottom: 25px;
	line-height: 16px;
}
